<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if description %}
        <meta name="description" content="{{ description | escape }}">
        {% endif %}
        <link rel="stylesheet" href="/style.css">
        <title>
            {{ title | escape }}
        </title>
    </head>
    <body>
        <header id="skip-to-main-content">
            <a href="#main-content">
                Skip to main content (keyboard navigation)
            </a>
        </header>
        {{ content }}
    </body>
</html>
