html {
    background-color: rgb(20, 20, 20);
    color: rgb(230, 230, 230);
    font-family: 'IBM Plex Serif', serif;
    font-size: large;
}

.main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}