@use "sass:math";

.centered-container {
    width: inherit;
    height: 30em;
    display: grid;
    place-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#ff-logo-container {
    height: inherit;
    width: max-content;
    border: 1px solid currentColor;
}

#ff-logo {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    transition: 10s;
    transition-timing-function: ease-in-out;
    transform: perspective(100em) translateZ(-500em);
}

*:hover > #ff-logo {
    transform: perspective(100em) translateZ(-10em) rotate3d(1,1,1,1110deg);
}

$cube-edge-length: 10em;
$cube-translation: math.div($cube-edge-length, 2);

#cube-container {
    height: inherit;
    width: auto;
    aspect-ratio: 1 / 1;
    border: 1px solid currentColor;
    display: grid;
    place-items: center;
}

#cube {
    padding: 5em;
    height: $cube-edge-length;
    width: $cube-edge-length;
    --x: 1;
    --y: 1;
    --z: 0;
    --d: 45deg;
    --p: 35em;
}

*:hover > #cube {
    --x: 2;
    --y: 1;
    --z: 3;
    --d: -100deg;
}

#cube-top-face {
    background-color: red;
    transform: perspective(var(--p)) rotate3d(var(--x), var(--y), var(--z), var(--d)) translateY(-$cube-translation) rotateX(90deg);
}
#cube-bottom-face {
    background-color: yellow;
    transform: perspective(var(--p)) rotate3d(var(--x), var(--y), var(--z), var(--d)) translateY($cube-translation) rotateX(-90deg);
}
#cube-front-face {
    background-color: lime;
    transform: perspective(var(--p)) rotate3d(var(--x), var(--y), var(--z), var(--d)) translateZ($cube-translation);
}
#cube-back-face {
    background-color: cyan;
    transform: perspective(var(--p)) rotate3d(var(--x), var(--y), var(--z), var(--d)) translateZ(-$cube-translation) rotateX(180deg);
}
#cube-left-face {
    background-color: blue;
    transform: perspective(var(--p)) rotate3d(var(--x), var(--y), var(--z), var(--d)) translateX(-$cube-translation) rotateY(-90deg);
}
#cube-right-face {
    background-color: magenta;
    transform: perspective(var(--p)) rotate3d(var(--x), var(--y), var(--z), var(--d)) translateX($cube-translation) rotateY(90deg);
}
.cube-face {
    position: absolute;
    height: $cube-edge-length;
    width: $cube-edge-length;
    backface-visibility: hidden;
    transition: transform 4s;
}
