/* Element styles */

nav {
  direction: rtl;
}

nav > div {
  display: inline-block;
  min-width: 7em;
}

header, main, footer {
  margin-bottom: 1em;
  margin-top: 1em
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:visited {
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 1px;
  /* transition: var(--theme-switch-time); */
}

fieldset {
  border: 1px solid var(--text-color);
  border-radius: 1px;
}

fieldset > details {
  margin-top: 1em;
}

summary {
  white-space: nowrap;
}

/* Color theme setup */

html {
  --text-color: #141414;
  --background-color: white;
  --accent-color: crimson;
}

@media (prefers-color-scheme: dark) {
  html {
    --text-color: white;
    --background-color: #141414;
    --accent-color: yellow;
  }
}

/* Classes */

.checkbox-container {
  white-space: nowrap;
  margin-left: 1ch;
}

/* Body & Html */

html {
  background-color: var(--background-color);
}

body {
  color: var(--text-color);
  max-width: 38em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  line-height: 1.4em;
}

/* Global rules */

* {
  transition: 200ms;
}
