/* CRAZY */

html.crazy * {
    border: 2px solid cyan;
    border-top-color: darkorchid;
    border-radius: 10px;
}

/* Color theme setup */

* {
    transition: 200ms;
}

.system-theme {
    --text-color: rgb(20, 20, 20);
    --background-color: white;
    --link-color: crimson;
}

@media (prefers-color-scheme: dark) {
    .system-theme {
        --text-color: white;
        --background-color: rgb(20, 20, 20);
        --link-color: yellow;
    }
}

.dark-theme {
    --text-color: white;
    --background-color: rgb(20, 20, 20);
    --link-color: yellow;
}

.light-theme {
    --text-color: rgb(20, 20, 20);
    --background-color: white;
    --link-color: crimson;
}

/* Element styles */

a {
    color: var(--link-color);
    text-decoration: none;
    /* transition: var(--theme-switch-time); */
}

a:visited {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 1px;
    /* transition: var(--theme-switch-time); */
}

/* Body & Html */

html {
    background-color: var(--background-color);
    /* transition: var(--theme-switch-time); */
}

body {
    color: var(--text-color);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    /* transition: var(--theme-switch-time); */
}

/* Sections and classes */

nav {
    direction: rtl;
}

nav > a {
    display: inline-block;
    min-width: 100px;
}
