body {
    background-color: black;
    color: white;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    text-decoration: white underline;
    text-decoration-skip-ink: all;
}

.navigation {
    font-size: large;
    width: 100%
}

.navigation a {
    color: white;
}
