@mixin border {
    border: 1px solid currentColor;
    border-radius: 1px;
}

@mixin link-like($selector) { #{$selector} {
    cursor: pointer;
    text-decoration: none;
    &:hover { text-decoration: underline solid currentColor 1px; }
} }

* { transition: 200ms; }

a { color: var(--link-color); }

@include link-like('a');

details { margin-top: 1em; }

summary {
    user-select: none;
    cursor: default;
    width: max-content;
}

@include link-like('summary');

button {
    @include border;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 100%;
}

html { background-color: var(--background-color); }

body {
    color: var(--text-color);
    max-width: 80ch;
    padding: 1em;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

nav {
    direction: rtl;
    div {
        display: inline-block;
        min-width: 7em;
    }
    a { color: var(--text-color); }
}

#footer-fieldset { @include border; }

.checkbox-container {
    white-space: nowrap;
    margin-left: 1ch;
}