@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    background-color: rgb(20, 20, 20);
    color: rgb(230, 230, 230);
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
}

h2 {
    font-size: inherit;
    padding-top: 10px
}

h1 {
    font-size: xx-large;
    padding-top: 10px;
    padding-bottom: 7px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: solid white underline;
    text-decoration-skip-ink: all;
}

a:visited {
    color: rgb(230, 230, 230);
}

a:visited:hover {
    color: white;
}

.main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.title {
    padding-bottom: 10px;
}

.navbar {
    text-align: right;
    padding-bottom: 10px;
}

.navbar > div {
    display: inline-block;
    min-width: 100px;
}

.content {
    padding-top: 10px;
}