html {
    background-color: grey;
}

body {
    background-color: white;
    max-width: 600px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: xx-large;
    font-family: sans-serif;
    text-align: center;
}

.button-demo {
    display: inline-block;
    min-width: 2em;
    margin: 4px;
    cursor: default;
    border-width: 3px;
    border-style: dashed;
    border-color: blue;
    user-select: none;
}

.button-demo:hover {
    border-left-style: solid;
    border-right-style: solid;
    border-color: orange;
}

.button-demo:active {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: red;
}