html {
    --text-color: white;
    --background-color: #141414;
    --link-color: yellow;
}

@media (prefers-color-scheme: light) {
    html {
        --text-color: #141414;
        --background-color: white;
        --link-color: crimson;
    }    
}