@charset "UTF-8";
@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/SourceSerif4-VariableFont_opsz,wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/SourceSerif4-Italic-VariableFont_opsz,wght.ttf");
  font-style: italic;
}
:root {
  display: flex;
  justify-content: center;
  font-family: "Source Serif 4", serif;
  color: var(--fg);
  background-color: var(--bg);
  accent-color: var(--hi);
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  text-decoration-skip-ink: all;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --fg: #fff;
    --bg: #111;
    --hi: #ee0;
  }
}
@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --bg: #000;
  }
}
@media (prefers-color-scheme: dark) and (prefers-contrast: less) {
  :root {
    --fg: #ddd;
    --bg: #333;
    --hi: #dd2;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --fg: #000;
    --bg: #eee;
    --hi: #a00;
  }
}
@media (prefers-color-scheme: light) and (prefers-contrast: more) {
  :root {
    --bg: #fff;
  }
}
@media (prefers-color-scheme: light) and (prefers-contrast: less) {
  :root {
    --fg: #222;
    --bg: #ccc;
    --hi: #911;
  }
}
@media (pointer: coarse) {
  :is(ul, ol) > li:has(a:only-child) {
    margin: 1.5ex 0;
  }
}
@page {
  margin: 5em 1em;
}
[lang=en] {
  quotes: "“" "”" "‘" "’";
}

[lang=de] {
  quotes: "„" "“" "‚" "‘";
}

ul {
  list-style-type: "— ";
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.background-heading {
  font-size: 1.1rem;
  font-style: italic;
  color: color-mix(in oklab, var(--fg) 70%, var(--bg));
}

.big {
  font-size: 1.2em;
}

body {
  display: grid;
  margin: 3.3em 1ch;
  grid-template: "skip-to-main-content" "navigation" "main-content" auto/auto auto auto;
}
@media print {
  body {
    display: block;
    margin: 0;
  }
}
body > #skip-to-main-content {
  margin-left: 2ex;
  margin-bottom: 2ex;
  grid-area: skip-to-main-content;
}
@media print {
  body > #skip-to-main-content {
    display: none;
  }
}
body > #main-navigation {
  grid-area: navigation;
  width: max-content;
  margin-left: 2ex;
  margin-bottom: 2ex;
  display: flex;
  gap: 2em;
}
body > #main-navigation > * {
  display: block;
}
@media print {
  body > #main-navigation {
    display: none;
  }
}
body > main {
  grid-area: main-content;
  display: grid;
}
@media print {
  body > main {
    display: block;
  }
}
@media (width > 111ch) {
  body > main {
    grid-template: "left-comment content empty" auto/auto auto 10ch;
  }
  body > main > #left-comment {
    grid-area: left-comment;
    min-width: 20ch;
    max-width: 30ch;
    margin-right: 5ex;
  }
}
@media (width <= 111ch) {
  body > main {
    grid-template: "content" auto/auto;
  }
  body > main > #left-comment {
    display: none;
  }
}
body > main > article {
  grid-area: content;
  max-width: clamp(80ch, 45dvw, 110ch);
}
body > main > article a {
  color: var(--hi);
  text-decoration: underline currentColor;
}
body > main > article a:hover {
  text-underline-offset: 2px;
}
body > main > article .big-name {
  font-size: 3em;
  text-align: center;
}