@charset "UTF-8";
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --fg: white;
    --bg: #222;
    --hi: yellow;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --fg: black;
    --bg: #ddd;
    --hi: red;
  }
}
@media (pointer: coarse) {
  :is(ul, ol) > li:has(a:only-child) {
    margin: 1.5ex 0;
  }
}
li::marker {
  content: "— ";
}

:root {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: var(--fg);
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 3.3em 1em;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "nav" "main";
}
body > header {
  grid-area: header;
  margin-bottom: 2ex;
}
body > nav {
  margin-left: 2ex;
  grid-area: nav;
  display: grid;
  grid-auto-flow: column;
  width: max-content;
  gap: 2em;
  margin-bottom: 2ex;
}
body > nav > * {
  display: block;
}
body > main {
  grid-area: main;
  display: grid;
}
@media (width > 120ch) {
  body > main {
    grid-template: "outline content padding" auto/1.5fr 4fr 1fr;
  }
  body > main > #outline {
    max-width: 40ch;
    padding-right: 2.5ex;
    margin-right: 2.5ex;
    border-right: var(--fg) solid 1px;
  }
}
@media (width <= 120ch) {
  body > main {
    grid-template: "outline" auto "content" auto/minmax(auto, 80ch);
  }
  body > main > #outline {
    max-height: 7em;
    overflow: scroll;
    border-bottom: var(--fg) solid 1px;
  }
}
body > main > #outline {
  grid-area: outline;
}
body > main > article {
  grid-area: content;
  max-width: 100ch;
}
body > main > article a {
  color: var(--hi);
}