@charset "UTF-8";
:root {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: var(--fg);
  background-color: var(--bg);
  accent-color: var(--hi);
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  text-decoration-skip-ink: all;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --fg: #fff;
    --bg: #222;
    --hi: #ee0;
  }
}
@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --bg: #000;
  }
}
@media (prefers-color-scheme: dark) and (prefers-contrast: less) {
  :root {
    --fg: #ddd;
    --bg: #333;
    --hi: #dd2;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --fg: #000;
    --bg: #eee;
    --hi: #a00;
  }
}
@media (prefers-color-scheme: light) and (prefers-contrast: more) {
  :root {
    --bg: #fff;
  }
}
@media (prefers-color-scheme: light) and (prefers-contrast: less) {
  :root {
    --fg: #222;
    --bg: #ccc;
    --hi: #911;
  }
}
@media (pointer: coarse) {
  :is(ul, ol) > li:has(a:only-child) {
    margin: 1.5ex 0;
  }
}
[lang=en] {
  quotes: "“" "”" "‘" "’";
}

[lang=de] {
  quotes: "„" "“" "‚" "‘";
}

ul,
ol {
  list-style-type: "— ";
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  margin: 3.3em 1ch;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "nav" "main";
}
body > header {
  margin-left: 2ex;
  margin-bottom: 2ex;
  grid-area: header;
}
body > nav {
  grid-area: nav;
  width: max-content;
  margin-left: 2ex;
  margin-bottom: 2ex;
  display: flex;
  gap: 2em;
}
body > nav > * {
  display: block;
}
body > main {
  grid-area: main;
  display: grid;
}
@media (width > 111ch) {
  body > main {
    grid-template: "left-comment content empty" auto/auto auto 10ch;
  }
  body > main > #left-comment {
    min-width: 20ch;
    max-width: 30ch;
    margin-right: 5ex;
  }
}
@media (width <= 111ch) {
  body > main {
    grid-template: "content" auto/auto;
  }
  body > main > #left-comment {
    display: none;
  }
}
body > main > #left-comment {
  grid-area: left-comment;
}
body > main > article {
  grid-area: content;
  max-width: clamp(80ch, 45dvw, 110ch);
}
body > main > article a {
  color: var(--hi);
  text-decoration: underline currentColor;
}
body > main > article a:hover {
  text-underline-offset: 2px;
}