@font-face {
    font-family: "Source Serif 4";
    src: url("/fonts/SourceSerif4-VariableFont_opsz,wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Source Serif 4";
    src: url("/fonts/SourceSerif4-Italic-VariableFont_opsz,wght.ttf");
    font-style: italic;
}

:root {
    font-size: large;
    display: flex;
    justify-content: center;
    font-family: "Source Serif 4", serif;
    color: var(--fg);
    background-color: var(--bg);
    accent-color: var(--hi);
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
    text-decoration-skip-ink: all;

    @media (width <= 60ch) {
        font-size: medium;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --fg: #eee;
        --bg: #111;
        --hi: #ee0;

        @media (prefers-contrast: more) {
            --bg: #000;
        }

        @media (prefers-contrast: less) {
            --fg: #ddd;
            --bg: #333;
            --hi: #dd2;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --fg: #111;
        --bg: #eee;
        --hi: #a00;

        @media (prefers-contrast: more) {
            --bg: #fff;
        }

        @media (prefers-contrast: less) {
            --fg: #222;
            --bg: #ccc;
            --hi: #911;
        }
    }
}

@media (pointer: coarse) {
    :is(ul, ol)>li:has(a:only-child) {
        margin: 1.5ex 0;
    }
}

@page {
    margin: 5em 1em;
}

[lang="en"] {
    quotes: "“" "”" "‘" "’";
}

[lang="de"] {
    quotes: "„" "“" "‚" "‘";
}

ul {
    list-style-type: "— ";
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.background-heading {
    font-size: 1.1rem;
    font-style: italic;
    color: light-dark(#555, #aaa);
}

.big {
    font-size: 1.3em;
}

body {
    display: grid;
    margin-top: 3em;
    grid-template: "skip-to-main-content" "navigation" "main-content" auto / auto auto auto;

    @media print {
        display: block;
        margin: 0;
    }

    >#skip-to-main-content {
        grid-area: skip-to-main-content;

        @media print {
            display: none;
        }
    }

    >#main-navigation {
        grid-area: navigation;
        display: flex;
        gap: 2em;

        >* {
            display: block;
        }

        @media print {
            display: none;
        }
    }

    >main {
        grid-area: main-content;
        display: grid;

        @media print {
            display: block;
        }

        @media (width > 120ch) {
            grid-template:
                "left-comment content" auto / auto auto;
            gap: 3em;

            >#left-comment {
                grid-area: left-comment;
            }
        }

        @media (width <= 120ch) {
            grid-template: "content" auto / auto;

            >#left-comment {
                display: none;
            }
        }

        >#left-comment {
            max-width: 30ch;
        }

        >article {
            grid-area: content;
            max-width: 80ch;

            a {
                color: var(--hi);
                text-decoration: underline currentColor;

                &:hover {
                    text-underline-offset: 2px;
                }
            }

            .big-name {
                font-size: 3rem;
                text-align: center;
            }
        }
    }
}
