:root {
    display: flex;
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    accent-color: var(--hi);
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    text-decoration-skip-ink: all;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --fg: #fff;
        --bg: #222;
        --hi: #ff0;

        @media (prefers-contrast: more) {
            --bg: #000;
        }

        @media (prefers-contrast: less) {
            --fg: #ddd;
            --bg: #333;
            --hi: #ee2;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --fg: #000;
        --bg: #eee;
        --hi: #a00;

        @media (prefers-contrast: more) {
            --bg: #fff;
        }

        @media (prefers-contrast: less) {
            --fg: #222;
            --bg: #ccc;
            --hi: #911;
        }
    }
}

@media (pointer: coarse) {
    :is(ul, ol)>li:has(a:only-child) {
        margin: 1.5ex 0;
    }
}

[lang="en"] {
    quotes: "“" "”" "‘" "’";
}

[lang="de"] {
    quotes: "„" "“" "‚" "‘";
}

ul,
ol {
    list-style-type: "— ";
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body {
    margin: 3.3em 1em;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "nav" "main";

    >header {
        margin-left: 2ex;
        margin-bottom: 2ex;
        grid-area: header;
    }

    >nav {
        grid-area: nav;
        width: max-content;
        margin-left: 2ex;
        margin-bottom: 2ex;
        display: grid;
        grid-auto-flow: column;
        gap: 2em;

        >* {
            display: block;
        }
    }

    >main {
        grid-area: main;
        display: grid;

        $min-max-content-width: 80ch;
        $max-max-content-width: 110ch;
        $mid-max-content-width: 45dvw;
        $max-content-width: clamp($min-max-content-width, $mid-max-content-width, $max-max-content-width);
        $max-left-comment-width: 30ch;
        $min-left-comment-width: 20ch;
        $padding-width: 10ch;
        $layout-cutoff: $min-left-comment-width + $min-max-content-width + $padding-width;

        @media (width > $layout-cutoff) {
            grid-template:
                "left-comment content padding" auto / auto auto $padding-width;

            >#left-comment {
                min-width: $min-left-comment-width;
                max-width: $max-left-comment-width;
                margin-right: 5ex;
            }
        }

        @media (width <=$layout-cutoff) {
            grid-template: "content" auto / auto;

            >#left-comment {
                display: none;
            }
        }

        >#left-comment {
            grid-area: left-comment;
        }

        >article {
            grid-area: content;
            max-width: $max-content-width;

            a {
                color: var(--hi);
                text-decoration: underline currentColor;

                &:hover {
                    text-underline-offset: 2px;
                }
            }
        }
    }
}
