@font-face {
    font-family: "Source Serif 4";
    src: url("/fonts/SourceSerif4-VariableFont_opsz,wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Source Serif 4";
    src: url("/fonts/SourceSerif4-Italic-VariableFont_opsz,wght.ttf");
    font-style: italic;
}

:root {
    display: flex;
    justify-content: center;
    font-family: "Source Serif 4", serif;
    color: var(--fg);
    background-color: var(--bg);
    accent-color: var(--hi);
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    text-decoration-skip-ink: all;
    font-size: 1.3rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --fg: #fff;
        --bg: #111;
        --hi: #ee0;

        @media (prefers-contrast: more) {
            --bg: #000;
        }

        @media (prefers-contrast: less) {
            --fg: #ddd;
            --bg: #333;
            --hi: #dd2;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --fg: #000;
        --bg: #eee;
        --hi: #a00;

        @media (prefers-contrast: more) {
            --bg: #fff;
        }

        @media (prefers-contrast: less) {
            --fg: #222;
            --bg: #ccc;
            --hi: #911;
        }
    }
}

@media (pointer: coarse) {
    :is(ul, ol)>li:has(a:only-child) {
        margin: 1.5ex 0;
    }
}

@page {
    margin: 5em 1em;
}

[lang="en"] {
    quotes: "“" "”" "‘" "’";
}

[lang="de"] {
    quotes: "„" "“" "‚" "‘";
}

ul {
    list-style-type: "— ";
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.background-heading {
    font-size: 1.1rem;
    font-style: italic;
    color: color-mix(in oklab, var(--fg) 70%, var(--bg))
}

.big {
    font-size: 1.2em;
}

$min-max-content-width: 80ch;
$max-max-content-width: 110ch;
$mid-max-content-width: 45dvw;
$max-content-width: clamp($min-max-content-width, $mid-max-content-width, $max-max-content-width);
$max-left-comment-width: 30ch;
$min-left-comment-width: 20ch;
$empty-width: 10ch;
$body-horizontal-margin: 1ch;
$layout-cutoff: $min-left-comment-width + $min-max-content-width + $empty-width + $body-horizontal-margin;

body {
    display: grid;
    margin: 3.3em $body-horizontal-margin;
    grid-template: "skip-to-main-content" "navigation" "main-content" auto / auto auto auto;

    @media print {
        display: block;
        margin: 0;
    }

    >#skip-to-main-content {
        margin-left: 2ex;
        margin-bottom: 2ex;
        grid-area: skip-to-main-content;

        @media print {
            display: none;
        }
    }

    >#main-navigation {
        grid-area: navigation;
        width: max-content;
        margin-left: 2ex;
        margin-bottom: 2ex;
        display: flex;
        gap: 2em;

        >* {
            display: block;
        }

        @media print {
            display: none;
        }
    }

    >main {
        grid-area: main-content;
        display: grid;

        @media print {
            display: block;
        }

        @media (width > $layout-cutoff) {
            grid-template:
                "left-comment content empty" auto / auto auto $empty-width;

            >#left-comment {
                grid-area: left-comment;
                min-width: $min-left-comment-width;
                max-width: $max-left-comment-width;
                margin-right: 5ex;
            }
        }

        @media (width <=$layout-cutoff) {
            grid-template: "content" auto / auto;

            >#left-comment {
                display: none;
            }
        }

        >article {
            grid-area: content;
            max-width: $max-content-width;

            a {
                color: var(--hi);
                text-decoration: underline currentColor;

                &:hover {
                    text-underline-offset: 2px;
                }
            }

            .big-name {
                font-size: 3em;
                text-align: center;
            }
        }
    }
}
